/* TYPOGRAPHY */
/* BEGIN Light */
@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/Light/OpenSans-Light.eot?v=1.1.0');
  src: url('../fonts/Light/OpenSans-Light.eot?#iefix&v=1.1.0') format('embedded-opentype'), url('../fonts/Light/OpenSans-Light.woff2?v=1.1.0') format('woff2'), url('../fonts/Light/OpenSans-Light.woff?v=1.1.0') format('woff'), url('../fonts/Light/OpenSans-Light.ttf?v=1.1.0') format('truetype'), url('../fonts/Light/OpenSans-Light.svg?v=1.1.0#Light') format('svg');}
/* END Light */

/* BEGIN Regular */
@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Regular/OpenSans-Regular.eot?v=1.1.0');
  src: url('../fonts/Regular/OpenSans-Regular.eot?#iefix&v=1.1.0') format('embedded-opentype'), url('../fonts/Regular/OpenSans-Regular.woff2?v=1.1.0') format('woff2'), url('../fonts/Regular/OpenSans-Regular.woff?v=1.1.0') format('woff'), url('../fonts/Regular/OpenSans-Regular.ttf?v=1.1.0') format('truetype'), url('../fonts/Regular/OpenSans-Regular.svg?v=1.1.0#Regular') format('svg');}
/* END Regular */

/* BEGIN Bold */
@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/Bold/OpenSans-Bold.eot?v=1.1.0');
  src: url('../fonts/Bold/OpenSans-Bold.eot?#iefix&v=1.1.0') format('embedded-opentype'), url('../fonts/Bold/OpenSans-Bold.woff2?v=1.1.0') format('woff2'), url('../fonts/Bold/OpenSans-Bold.woff?v=1.1.0') format('woff'), url('../fonts/Bold/OpenSans-Bold.ttf?v=1.1.0') format('truetype'), url('../fonts/Bold/OpenSans-Bold.svg?v=1.1.0#Bold') format('svg');}
/* END Bold */

@font-face {
  font-family: 'technocrat_icons';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/technocrat_icons.eot?37158629');
  src: url('../fonts/technocrat_icons.eot?37158629#iefix') format('embedded-opentype'),
  url('../fonts/technocrat_icons.woff?37158629') format('woff'),
  url('../fonts/technocrat_icons.ttf?37158629') format('truetype'),
  url('../fonts/technocrat_icons.svg?37158629#technocrat_icons') format('svg');
}

[class^='icon-']:before,
[class*=' icon-']:before {
  display: inline-block;
  width: 1em;
  margin-right: .2em;
  margin-left: .2em;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  font-family: 'technocrat_icons';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic-social-instagram:before { content: '\e800'; }
.icon-ic-drupal-engineering:before { content: '\e801'; }
.icon-ic-inclusive-design:before { content: '\e802'; }
.icon-ic-strategy:before { content: '\e803'; }
.icon-ic-experience:before { content: '\e804'; }
.icon-ic-social-facebook-blue:before { content: '\e805'; }
.icon-ic-social-twitter-blue:before { content: '\e808'; }
.icon-ic-social-youtube-blue:before { content: '\e806'; }
.icon-ic-social-google:before { content: '\e807'; }


[class^="icon-"],
[class*=" icon-"] {
  &.fontello:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
}


// Fonts
//
// Font, line-height, and color for body text, headings, and more.
$times-new-roman: "Times New Roman", Times, Georgia, serif;
$times: Times, "Times New Roman", Georgia, serif;
$georgia: Georgia, "Times New Roman", serif;
$verdana: Verdana, Tahoma, sans-serif;
$tahoma: Tahoma, Verdana, sans-serif;
$helvetica: Helvetica, Arial, sans-serif;
$arial: Arial, Helvetica, sans-serif;
$courier: "Courier New", monospace, sans-serif;
$font-family-sans-serif: "Open Sans", sans-serif;
$font-family-base: $font-family-sans-serif;
$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-lg: 1.25rem;
$font-size-sm: 0.875rem;
$font-size-xs: 0.75rem;
$font-weight-normal: normal;
$font-weight-bold: bold;
$font-weight-base: $font-weight-normal;
$line-height-base: 1.5;
$font-size-h1: 2.5rem;
$font-size-h2: 2rem;
$font-size-h3: 1.75rem;
$font-size-h4: 1.5rem;
$font-size-h5: 1.25rem;
$font-size-h6: 1rem;
