/* VARIABLES */

// colors
$white: #fff;
$black: #000;
$grey: #666;
$grey-light: #999;
$grey-really-light: #dedede;
$blue: #05bfe0;
$yellow: #f8ac27;
$orange: #f37021;
$silver: #cbcbcb;

// Units
// ** When you can...
// ** Use REMs for sizes and spacing.
// ** Use EMs for media queries.

// Enter values in pixels, they will be converted to ems or rems automatically
$max-page-width: em(1100);

// Margins / Gutters  - Rems are ideal to use, but don't forget to add px fallback values for old browsers if you do!
$page-margin: rem(20);
$page-margin-wide: rem(40);

$vertical-spacing: rem(16);
