@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?73640536');
  src: url('../font/fontello.eot?73640536#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?73640536') format('woff2'),
       url('../font/fontello.woff?73640536') format('woff'),
       url('../font/fontello.ttf?73640536') format('truetype'),
       url('../font/fontello.svg?73640536#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?73640536#fontello') format('svg');
  }
}
*/
 
 [class^="fontello-"]:before, [class*=" fontello-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1.2em;
  /*margin-right: .2em;*/
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.fontello-left-open:before, .icon-left-open:before  { content: '\e800'; } /* '' */
.fontello-right-open:before, .icon-right-open:before  { content: '\e801'; } /* '' */
.fontello-gplus:before { content: '\e802'; } /* '' */
.fontello-youtube:before { content: '\e803'; } /* '' */
.fontello-facebook:before { content: '\e805'; } /* '' */
.fontello-twitter:before { content: '\f099'; } /* '' */
.fontello-linkedin:before { content: '\f0e1'; } /* '' */